<mat-card class="todo-list">
  <div class="links">
    <a routerLink="/edit">Add a new todo</a>
  </div>
  <mat-list role="list" *ngIf="todos$ | async; let todos">
    <mat-list-item role="listitem" *ngFor="let todo of todos">
      <div class="todo-item">
        <div class="title" [class.done]="todo.done" (click)="view(todo)">
          {{ todo.title }}
        </div>
        <div class="actions">
          <button mat-button *ngIf="!todo.done" (click)="toggleDone(todo)">
            Done
          </button>
          <button mat-button *ngIf="todo.done" (click)="toggleDone(todo)">
            UnDone
          </button>
          <button mat-button (click)="delete(todo)">Delete</button>
          <button mat-button (click)="edit(todo)">Edit</button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>
