.todo-list {
  .links {
    text-align: center;
  }
  .todo-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .done {
      color: gray;
      text-decoration: line-through;
    }
  }
}
